#r background stuff
.Rproj.user
.Rhistory
*.RData*
*.DS_Store
.Ruserdata

#data / notes
forJenna.pdf
data/error_check/
data/from_geneious/
data/genepop/
data/merged_by_year/
data/siblingships/
data/landscapemetrics/
data/impatiens_presence_absence.csv
from_mike/

# model fits
stanFit*
fit.rds
lanscape_all.rds
*draws.csv

