#r background stuff
.Rproj.user
.Rhistory
*.RData
*.DS_Store
.Ruserdata

#data / notes
forJenna.pdf
data/error_check/
data/from_geneious/
data/genepop/
data/merged_by_year/
data/siblingships/
colony_assignments/Colony2/
colony_assignments/Colony2_Linux/

# model fits
stanFit*
fit.rds
lanscape_all.rds
landscape_all_draws.csv
posterior_draws.csv
